@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root {
    --primary:#664de5;
    --white:#fff;
    --gray:lightgray;
    --black:#000;
}


body, html {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.flex-center {
    display: flex;
    justify-content:center;
    align-items:center;
}

.flex-align-center {
    display:flex;
    align-items:center;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.style-none {
    list-style-type: none;
    text-decoration: none;
}

.text-mute {
    color:gray;
}

.text-center {
    text-align: center;
}

.primay-color {
    color:var(--primary);
}

.w-50 {
    width:50%;
}

.py-10 {
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.d-flex {
    display:flex;
}